---
import '../styles/global.css'
import Navigation  from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'

const pageTitle = 'About Me'

const identity = {
    name: 'AmangLy',
    role: 'Frontend Developer',
    country: 'Indonesia',
    description: 'I love to code and play video games',
    site: 'https://amangly.fun',
    X: 'https://x.com/amangly',
    github: 'https://github.com/amaralkaff',
}

const skills = [
    "HTML", "CSS", "JavaScript", "React", "Node.js", "Express", "MongoDB", "GraphQL", "Apollo", "RESTful APIs", 
    "Git", "GitHub", "Netlify", "Vercel", "Jest", "React Testing Library", "OBS Studio", "Firebase", "AWS", 
    "Linux", "macOS", "Android", "Web Development", "Mobile Development"
]

const happy = true 
const finished = false
const goal = 3
const skillColor = "navy"
const fontWeight = "bold"
const textCase = "uppercase"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        color: purple;
        font-size: 4rem;
      }
      .skills {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Navigation />

    <main>
      <h1>{pageTitle}</h1>
      <h2>Hello, wazzup! My name is AmangLy, I'm a new Astro developer.</h2>
      <p>I'm a frontend developer from Indonesia.</p>
      <p>Here are a few things about me:</p>
      <ul>
        <li>Name: {identity.name}</li>
        <li>Role: {identity.role}</li>
        <li>Description: {identity.description}</li>
        <li>Country: {identity.country}</li>
      </ul>
      <p>
        My Skills are:
      </p>
      <ul>
        {skills.map(skill => (
          <li>{skill}</li>
        ))}
      </ul>
      {happy && <p>I'm happy to be here!</p>}
      {finished && <p>I have finished this tutorial</p>}
      {goal === 3 ? <p>My goal finished 3 days.</p> : <p>My goal is not finished yet.</p>}
      <p>My Social Media:</p>
      <ul>
        <li><a href={identity.site} target="_blank" rel="noopener noreferrer">Website</a></li>
        <li><a href={identity.X} target="_blank" rel="noopener noreferrer">X</a></li>
      </ul>
      <Footer/
    </main>
  </body>
</html>
